.wrapperbooking {
  background-size: cover;
  background-image: asset-url("book8.jpeg");
  height: 100vh;
  opacity: 0.9;
  padding-top: 50px;
}

.bookings-content {
  max-width: 900px;
  margin-left: 250px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(200, 200, 200);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 4px;

}

#booktext {
  margin-bottom: 25px;
}

// .btd {
//   padding-right: 40px;
//   padding-bottom: 20px;
// }
.bookingtext td {
  padding-right: 40px;
  padding-bottom: 20px;
}
