.booking-content h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.booking {
  display: flex;
  padding: 20px 0px;
  width: 100%;
}

.booking-name {
  flex-basis: 20%;
}

.booking-price {
  flex-basis: 20%;
}

.booking-date {
  flex-basis: 30%;
}

.booking-status {
  flex-basis: 30%;
}
