.service-content {
  padding: 20px 0px;
}

.hairstylist-content h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 30px;
  margin: 0px;
}

.hairstylist-content h2 {
  font-size: 28px;
  font-weight: medium;
  padding: 5px 0px;
  margin: 0px;
}

.hairstylist-content h3 {
  font-size: 28px;
  font-weight: medium;
  padding: 5px 0px;
  margin: 0px;
}

.hairstylist-content p {
  font-size: 18px;
  font-weight: lighter;
  padding: 5px 0px;
  margin: 0px;
}

.button {
  padding: 20px 0px;
}
