.profile-content h2 {
  margin-bottom: 40px;
}

.profile-services {
  margin: 75px 0px;
}

.profile-service {
  display: flex;
  padding: 20px 0px;
  width: 100%;
}

.profile-service-name {
  flex-basis: 10%;
}

.profile-service-description {
  flex-grow: 1;
  flex-basis: auto;
}

.profile-service-price {
  flex-basis: 10%;
}

.profile-service-buttons {
  flex-basis: 30%;
}

.profile-bookings {
  margin-top: 100px;
}

.profile-booking {
  display: flex;
  padding: 20px 0px;
  width: 100%;
}

.profile-booking-name {
  flex-basis: 10%;
}

.profile-booking-date {
  flex-basis: 20%;
}

.profile-booking-status {
  text-align: center;
  flex-grow: 1;
  flex-basis: auto;
}

.profile-booking-buttons {
  flex-basis: 30%;
}