<div class="booking-content">
  <div class="container">
    <h1>My bookings</h1>
    <% current_user.bookings.each do |booking| %>
    <div class="booking">
      <div class="booking-name">
        <strong><%= booking.service.name %></strong>
      </div>
      <div class="booking-price">
        <%= booking.service.price %>$
      </div>
      <div class="booking-date">
        <%= booking.date %>
      </div>
      <div class="booking-status">
        <%= booking.status %>
      </div>
    </div>
    <% end %>
  </div>
</div>

