<div class="bookings-content">
  <div class="container">
    <h1>My bookings</h1>

    <% current_user.bookings.each do |booking| %>
      <p><%= booking.service.name %> <%= booking.service.price %>$ <%= booking.date %> <%= booking.status %></p>
    <% end %>
  </div>
</div>

