

<div class="container">
  <div class="row">

    <% @hairstylists.each do |hairstylist| %>

      <div class="col-xs-12 col-sm-4">
      <h2><%= hairstylist.first_name %></h2>

        <!-- insert <div class="card"> -->
      </div>
      <ul>
        <% hairstylist.services.each do |service| %>
          <li> <%= service.name %></li>
        <% end %>

      </ul>
    <% end %>


  </div>
</div>
