<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0, 0.4)), url('<%= image_path('banner_background.jpg') %>');">
  <div class="banner-content">
    <h1>Hairstylists at your door</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a href="<%= hairstylists_path %>" class="btn-yours">Book now</a>
  </div>
</div>
