.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content h1 {
  font-size: 54px;
  font-weight: bold;
}

.banner-content p {
  font-size: 38px;
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: 85px;
}

