.btn-yours {
  background: #1d2323;
  color: white;
  border: 1px, solid #1d2323;
  padding: 10px 50px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-yours:hover {
  background: white;
  color: #1d2323;
  border: 1px solid #1d2323;
  padding: 10px 50px;
  border-radius: 20px;
  text-decoration: none;
}
